@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Customizing theme */
.assignees-avatars {
  @apply flex -space-x-2 overflow-hidden p-1;
}

.assignees-avatars > .avatar {
  @apply inline-block h-6 w-6 rounded-full ring-2 ring-white;
}

.priority {
  @apply font-medium text-slate-400 text-base;
}

.priority.low {
  @apply text-blue-500;
}

.priority.medium {
  @apply text-yellow-500;
}

.priority.high {
  @apply text-rose-500;
}

/**
 * Customs style for table columns
 * */

.simplemap-tables-badge-column {
  @apply flex items-center;
}

.simplemap-tables-badge-column > div {
  @apply inline-flex items-center justify-center space-x-1 rtl:space-x-reverse min-h-[6px] px-2 py-0.5 text-sm font-medium tracking-tight rounded-xl whitespace-nowrap text-slate-700 bg-slate-500/10 dark:text-slate-300 dark:bg-slate-500/20;
}

.simplemap-tables-badge-column > div.secondary-badge {
  @apply text-gray-700 bg-gray-500/10 dark:text-gray-300 dark:bg-gray-500/20;
}

.simplemap-tables-badge-column > div.info-badge {
  @apply text-blue-700 bg-blue-500/10 dark:text-blue-300 dark:bg-blue-500/20;
}

.simplemap-tables-badge-column > div.success-badge {
  @apply text-green-700 bg-green-500/10 dark:text-green-500 dark:bg-green-500/20;
}

.simplemap-tables-badge-column > div.warning-badge {
  @apply text-yellow-700 bg-yellow-500/10 dark:text-yellow-500 dark:bg-yellow-500/20;
}

.simplemap-tables-badge-column > div.danger-badge {
  @apply text-red-700 bg-red-500/10 dark:text-red-500 dark:bg-red-500/20;
}

/* Toggle */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: rgb(59 130 246);
}

/* Site card little hack */
.ol-map-site-card
.ol-viewport
.ol-layers
.ol-layer > canvas {
  @apply relative md:rounded-t-lg;
}

#map-container >
.ol-viewport
.ol-layers
.ol-layer > canvas {
  @apply relative md:rounded-lg;
}

/* Custom styles for Simple-DataTables */
.dataTable-wrapper {
  @apply bg-gradient-to-b from-white to-slate-100;
}

.dataTable-top {
  @apply my-4 font-medium bg-transparent text-slate-400;
}

.dataTable-search {
  @apply font-medium text-slate-400;
}

table.dataTable-table {
  @apply w-full text-left border-collapse;
}

table.dataTable-table > tbody {
  @apply align-middle;
}

table.dataTable-table > tbody > tr > td {
  @apply align-middle border-b;
}

.dataTable-bottom > .dataTable-info {
  @apply text-sm font-medium text-slate-400;
}

select.dataTable-selector {
  @apply inline-flex items-center w-16 px-3 py-2 text-sm font-medium leading-4 transition duration-150 ease-in-out bg-white border border-transparent rounded-md text-slate-400;
}

select.dataTable-selector:hover {
  @apply text-gray-700 bg-gray-50;
}

select.dataTable-selector:focus {
  @apply outline-none bg-gray-50;
}

select.dataTable-selector:active {
  @apply bg-gray-50;
}

select.dataTable-selector > option {
  @apply font-medium bg-gray-50 text-slate-400 hover:bg-gray-100;
}

input.dataTable-input {
  @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm;
}

input.dataTable-input:focus {
  @apply border-blue-300 ring ring-blue-200 ring-opacity-50;
}

.dataTable-pagination {
  @apply relative z-0 inline-flex rounded-md shadow-sm;
}

.dataTable-pagination .dataTable-pagination-list  li {
  @apply relative inline-flex items-center text-sm font-medium leading-5 text-gray-500 bg-white border border-gray-300 cursor-default;
}

ul.dataTable-pagination-list > li:first-child {
  @apply rounded-l-md;
}

ul.dataTable-pagination-list > li:last-child {
  @apply rounded-r-md;
}

ul.dataTable-pagination-list li > a {
  @apply relative inline-flex items-center px-4 py-2 -ml-px transition duration-150 ease-in-out;
}

ul.dataTable-pagination-list li > a:hover {
  @apply text-gray-400 bg-transparent;
}

ul.dataTable-pagination-list li > a:focus {
  @apply z-10 outline-none ring ring-blue-300;
}

ul.dataTable-pagination-list li.active > a {
  @apply text-gray-500 bg-transparent;
}

ul.dataTable-pagination-list li.active > a:hover {
  @apply text-gray-400 bg-transparent;
}
